appdirs==1.4.4
asgiref==3.4.1
asn1crypto==1.4.0
backports.entry-points-selectable==1.1.0
Brlapi==0.8.2
catfish==4.16.0
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.0.1
cupshelpers==1.0
dbus-python==1.2.16
debtags==2.1
distlib==0.3.2
distro==1.5.0
distro-info==1.0
Django==3.2.7
django-filter==21.1
djangorestframework==3.12.4
filelock==3.0.12
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
gyp==0.1
html5lib==1.1
idna==2.10
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
kali-tweaks==2021.2.2
lightdm-gtk-greeter-settings==1.2.2
louis==3.16.0
MarkupSafe==2.0.1
mechanize==0.4.5
more-itertools==4.2.0
netifaces==0.10.9
pexpect==4.8.0
platformdirs==2.3.0
pycairo==1.16.2
pycups==2.0.1
pycurl==7.43.0.6
PyGObject==3.38.0
pysmbc==1.0.23
python-apt==2.2.0
python-debian==0.1.39
pytz==2021.1
pyxdg==0.27
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.23
sqlparse==0.4.1
unattended-upgrades==0.1
urllib3==1.26.4
virtualenv==20.8.0
webencodings==0.5.1
Werkzeug==2.0.1
xdg==5
zipp==1.0.0
